ul{
    list-style-type:circle;
    padding-left: 20px;
}
.division{
    font-size: large;
    display: grid;
    grid-template-columns: 25% 40% 25%;
    justify-content: center;
    gap: 10px;
    padding: 10px;

}
.warning
{
    font-weight: bold;
    color: red;
    text-align: center;
    align-content: center;
}
iframe{
    height: calc(100% + 100px);
    justify-self: center;
}
@media screen and (max-width:800px) {
    .division{
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
       gap:20px;
    }
   }